.btn {
  font-family: 'Nunito', serif;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

.yellow {
  background: #f4e041;
}

.yellow:hover {
  background: #ffe302;
}

.gray {
  background: #b4b4b4;
}
