@use '../../../styles/mixins.scss' as mixins;

.customInput {
  position: relative;

  > .inputField {
    position: relative;
    padding: 14px 16px;
    color: #d0cfcf;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    height: 54px;

    .label {
      position: absolute;
      left: 12px;
      top: -8px;
      font-size: 12px;
      line-height: 14px;
      padding: 0px 4px;
      background-color: #f8f8f8;
      display: none;

      // transition: 0.2s left, top ease;
    }

    span:nth-child(1) {
    }

    input {
      width: 100%;
      height: 26px;
      border: none;
      outline: none;
      background: transparent;
      color: rgba(0, 0, 0, 0.87);
      pointer-events: all;
    }
  }

  @include mixins.helperText;
}

.error {
  > div {
    border: 2px solid #cb3d40;

    span:nth-child(1) {
      color: #cb3d40;
    }
  }
}
